{% extends "global/base.html" %}
{% load static %}

{% block content %}
  <link rel="stylesheet" href="{% static 'users/css/users.css' %}">
  <div class="login-wrapper">
      <h2 class="login-title">Login</h2>
      <form method="post" class="login-form">
          {% csrf_token %}

          <div class="form-group">
              <label for="{{ form.username.id_for_label }}">Usuário</label>
              {{ form.username }}
          </div>

          <div class="form-group">
              <label for="{{ form.password.id_for_label }}">Senha</label>
              {{ form.password }}
          </div>

          <button type="submit" class="login-button">Entrar</button>
      </form>
  </div>
{% endblock %}
